 
# Node Environment
NODE_ENV=development
PORT=4000

# Database Configuration
DB_HOST=postgres
DB_PORT=5432
DB_NAME=rickandmorty
DB_USER=postgres
DB_PASSWORD=postgres

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379

# API URL
RICK_AND_MORTY_API_URL=https://rickandmortyapi.com/graphql